/*Главная страница*/

.main-page-container{
    margin-top: 50px;
}

.item-title{
    text-align: right;
}

.weather__item{
    padding: 5px;
}

.links{
    padding: 5px;
    font-size: 18px;
}

/*Страница "Заказы"*/

table {
    margin-top: 25px;
}

.header-wrap, .header-wrap td{
    border: 3px solid black;
    font-size: 16px;
}

td{
    padding: 5px;
    text-align: center;
    border: 1px solid #b4b1a1;
}

/*Страница редактирования заказа*/

.form-title{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.btn-row{
    text-align: center;
}
/*Страница "Продукты"*/

#products-table{
    width: 100%;
}

.price{
    cursor: pointer;
}

.pagination-block{
    text-align: center;
}

/*Стили модального окна*/
.modal-dialog{
    width: 40%;
}
.modal-footer{
    text-align: center;
}

.new-price{
    width: 100%;
}
